{% load static %}
<html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

<body>

    <div class="container">


<div class="page-header">
    <h1>Blog <small>Cómo enviar mensajes de cola con Python mediante CloudAMQP</small></h1>
</div>




	<p class="lead">Usaremos CloudAMQP que es un servidor RabbitMQ server en la nube, Este software es un manejador de +
		de colas donde se envian y reciben simples mensajes  

		Para este caso, usarmos el lenguaje de programación Python donde usaremos el paquete pika como herramienta de cola.
		 </p>


		 <p>
		 	Primero instalaremos

		 	<ul>
		 		<li>* Python en windows <a href="https://www.youtube.com/watch?v=NEo4tDu6tU8">aquí</a> o linux <a href="https://www.youtube.com/watch?v=7KeeR20VBKY">aquí</a> </li>
		 		<li>* Pika (<a href="https://pypi.python.org/pypi/pika">aquí</a>)</li>
		 		<li>* Un servidor de Rabbit, en este caso es CloudAMQP (<a href="https://www.cloudamqp.com/">aquí</a>)</li>
		 	</ul>
		 </p>

		 <p>
		 		Ejem:
		 	Juan mandarara un mensaje "Hola" 
				
				<br />

				Se conecta al servidor de CloudAMQP(ya hemos creado una cuenta para ser utilizada) con un host, puerto, usuario y clave

				<br />

				Esperamos 5 segundos para que el servidor procese la información y nos devuelve lo que deseamos

				<br />

				Creamos el canal por donde conducira el socket

				<br />

					Si no existe la cola, la creamos, en este caso se llamara "Jhon" y despuès publicamos un mensaje en la cola llamada "Hola"

										<br />
					Se cierra la conneción.


		 </p>

		 <p>	 	<img class="img-rounded" src="{% static 's1.png' %}"></p>


		 <p>
 	Jhon recibira el mensaje "Hola" </p>
	

					<br />

				Se conecta al servidor de CloudAMQP(ya hemos creado una cuenta para ser utilizada) con un host, puerto, usuario y clave

				<br />

				Esperamos 5 segundos para que el servidor procese la información y nos devuelve lo que deseamos

				<br />

				Creamos el canal por donde conducira el socket

				<br />

					Obtenemos el mensaje de la cola que ya hemos creado llamada "Jhon", y posteriormente si existe mensajes, 
					se obtiene el mensaje(en nuestro caso el contenido es "Hola")

					<br />
					Se cierra la conneción.

		 		 <p><img class="img-rounded" src="{% static 's2.png' %}"> </p>



	

	
	<p>

			Por otro lado, se puede dejar la conneción abierta para que los mensajes llegen automaticamente


		 		 <p><img class="img-rounded" src="{% static 's3.png' %}"> </p>

	</p>

				<br />
				<br />


<p>Más información de de RabbitMQ se puede informar en este link donde explica detalladamente los escenarios para colas <a href="https://www.rabbitmq.com/tutorials/tutorial-one-python.html">https://www.rabbitmq.com/tutorials/tutorial-one-python.html</a>

				<br />
</p>


    </div> <!-- /container -->

</body>

</html>
