{% load static %}
<html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

<body>

    <div class="container">


<div class="page-header">
    <h1>Blog <small>Cómo crear un servicio SOAP y consumirlo en Python</small></h1>
</div>




	<p class="lead">

		Crearemos un servicio WDSL mediante un servidor.
		 </p>


		 <p>
		 	Primero instalaremos

		 	<ul>
		 		<li>* Python en windows <a href="https://www.youtube.com/watch?v=NEo4tDu6tU8">aquí</a> o linux <a href="https://www.youtube.com/watch?v=7KeeR20VBKY">aquí</a> </li>
		 		<li>* soaplib (<a href="https://pypi.python.org/pypi/soaplib">aquí</a>)</li>
		 		<li>* suds (<a href="https://pypi.python.org/pypi/suds/0.4b">aquí</a>)</li>
		 	</ul>
		 </p>

		 <p>
		 		Ejem:
		 	Se create el servicio WDSL con una unica función llamada suma para después ser condumida 
				
				

		 </p>

		 <p>	 	<img class="img-rounded" src="{% static 't3.png' %}"></p>


		 <p>
 	El servicio ya deberia estar corriendo, se genera un WDSL XML </p>
	

				

		 		 <p><img class="img-rounded" src="{% static 't2.png' %}"> </p>



	

	
	<p>

			Por otro lado, se conecta al servicio soap para consumir dicha función suma y pasarle algunos parametros.


		 		 <p><img class="img-rounded" src="{% static 't1.png' %}"> </p>

	</p>

				<br />
				<br />


<p>Más información de de SOAP pythpn se puede informar en este link donde explica detalladamente los escenarios para colas <a href="http://www.diveintopython.net/soap_web_services/">http://www.diveintopython.net/soap_web_services/</a>

				<br />
</p>


    </div> <!-- /container -->

</body>

</html>
