{% load static %}
<html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'signin.css' %}">

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>

<body>

    <div class="container">

        <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Gestión Academica</a>
        </div>

       

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <li><a href="/registrar-curso.html/">Registrar Cursos</a></li>
            <li><a href="/registrar-profesor.html/">Registrar Profesor</a></li>            
            <li><a href="/listar-cursos.html/">Registrar Horario</a></li>

            <li><a href="/registrar-syllabus.html/">Registrar Syllabus</a></li>
            <li><a href="/registrar-asistencias.html/">Registrar Asistencias</a></li>
            
            <li><a href="/login.html/">Salir</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
        </form>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(Mario paria) <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
        </ul>
        </li>
        </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
        {% block content %}{% endblock %}

    </div> <!-- /container -->

</body>

</html>