{% extends "base.html" %}
{% block content %}

<h2>Listar Cursos</h2>


<div class="form-group">
      <label for="sel1">Carrera:</label>
      <select class="form-control" id="sel1">
        <option>Ingieneria de Sistemas</option>
      </select>
      <br>
    </div>

	<table class="table table-bordered">

		    <tr>
		      <td class="success">Código</td>
		      <td class="success">Nombre</td>
		      <td></td>
		    </tr>

		{% for h in items %}
		    <tr>
		      <td class="">{{ h.code }}</td>
		      <td class="">{{ h.name }}</td>
		      <td>
		      		{% if h.status == 1 %}
		      			Horario Registrado
		      		{% else %}
					 	<a href="{{ domain_url }}registrar-horario.html/?code={{ h.code }}">Registrar Horario</a>
		      		{% endif %}
		      </td>
		    </tr>
		{%  endfor %}

    </table>



{% endblock %}

