{% extends "base.html" %}
{% block content %}

<form action="#" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">
<fieldset>                          
<input type="hidden" name="csrfmiddlewaretoken" value="ts8sAo5tEPdcsrW0mKtgjno35hD7LRqb">
    <div class="form-group ">
    <label class="col-sm-2 control-label ">
      First name
    </label>
  <div class="col-sm-10">
    <input name="first_name" id="first_name" class="form-control" type="text">
  </div>
</div>
    <div class="form-group ">  
    <label class="col-sm-2 control-label ">
      Last name
    </label>
  <div class="col-sm-10">
    <input name="last_name" id="last_name" class="form-control" type="text">
  </div>
</div>
    <div class="form-group ">  
    <label class="col-sm-2 control-label ">
      Email
    </label>
  <div class="col-sm-10">
    <input name="email" id="email" class="form-control" type="email">
  </div>
</div>
    <div class="form-group ">
    <label class="col-sm-2 control-label ">
      Password
    </label>
  <div class="col-sm-10">
    <input name="password" id="password" class="form-control" type="password">
  </div>
</div>
    <div class="form-group horizontal-checkbox ">
    <label class="col-sm-2 control-label ">
      Is active
    </label>
  <div class="col-sm-10">
    <input type="checkbox" name="is_active" id="is_active" value="true">
  </div>
</div>
    <div class="form-group ">
    <label class="col-sm-2 control-label ">
      Salary
    </label>
  <div class="col-sm-10">
    <input name="salary" id="salary" class="form-control" type="text">
    <input name="url" id="url" class="form-control" type="text">
  </div>
</div>
<!-- form.non_field_errors -->
    <div class="form-actions">
      <button class="btn btn-primary js-tooltip" name="_method" id="btn_save" value="SAVE" title="" data-original-title="Make a PUT request on the Teacher Instance resource">Save</button>
    </div>
  </fieldset>
</form>
<div  role="alert" id="msgBox"></div>
		<table class="table table-bordered">
		<!-- On rows -->
              <!-- On cells (`td` or `th`) -->
              <tr>
                <td class="warning">first_name</td>
                <td class="warning">last_name</td>
                <td class="warning">email</td>
                <td class="warning">password</td>
                <td class="warning">salary</td>
                <td class="warning"></td>
                
              </tr>
              {% for a in teachers %}
              <tr id="{{ a.url }}">
                <td class="success">{{ a.first_name }}</td>
                <td class="success">{{ a.last_name }}</td>
                <td class="success">{{ a.email }}</td>
                <td class="success">{{ a.password }}</td>
                <td class="success">{{ a.salary }}</td>
                <td>
                    <button class="btn_delete" data-url="{{ a.url }}">Delete</button>
                    <button class="btn_edit" 
                      data-first_name={{ a.first_name }} 
                      data-last_name={{ a.last_name  }} 
                      data-url="{{ a.url }}"
                      data-email="{{ a.email }}"
                      data-password="{{ a.password }}"
                      data-salary="{{ a.salary }}"
                    >Edit</button>
                </td>
               </tr>  
              {% endfor %}
          </table>
    </div> <!-- /container -->
<script>


$('#btn_update').click(function(e){
    e.preventDefault();
    var first_name = $(this).data('first_name');
    var last_name = $(this).data('last_name');
    var email = $(this).data('email');
    var password = $(this).data('password');
    var salary = $(this).data('salary');
    var url = $(this).data('url');
    $('#first_name').val(first_name);
    $('#last_name').val(last_name);
    $('#email').val(email);
    $('#password').val(password);
    $('#salary').val(salary);
    $('#url').val(url);
    
   $.ajax
    ({
        type: "POST",
        url: url,
        data: {first_name: first_name, last_name: last_name, salary: salary, password: password, email: email},
        success: function (r) {
            $('#msgBox').html('Grabado Correctanente!');
            $('#msgBox').addClass('alert alert-success');
            $('#msgBox').removeClass('alert alert-danger');
            $('#msgBox').hide(10000);
            
            $('#first_name').val('');
            $('#last_name').val('');
            $('#email').val('');
            $('#salary').val('');
            $('#password').val('');
            
        },
        error: function (jqXHR, textStatus, errorThrown) { 
            $('#msgBox').removeClass('alert alert-success');
            $('#msgBox').addClass('alert alert-danger');
            $('#msgBox').html(jqXHR.responseText);
            //$('#msgBox').hide(50000);            
        }
    })
});

$('.btn_edit').click(function(e){
 
    e.preventDefault();
    
    var first_name = $(this).data('first_name');
    var last_name = $(this).data('last_name');
    var email = $(this).data('email');
    var password = $(this).data('password');
    var salary = $(this).data('salary');
    var url = $(this).data('url');
    
    $('#first_name').val(first_name);
    $('#last_name').val(last_name);
    $('#email').val(email);
    $('#password').val(password);
    $('#salary').val(salary);
    $('#url').val(url);

});


$('.btn_delete').click(function(e){
 
    e.preventDefault();
    
    var url = $(this).data('url');
    url = url.replace('?format=json', '');
    //alert(url);
    var athis = $(this);
    
   $.ajax
    ({
        type: "DELETE",   
        url: url,
        success: function (r) {
            athis.parent().parent().remove();
            $('#msgBox').html('Elminado Correctanente!');
            $('#msgBox').addClass('alert alert-success');
            $('#msgBox').removeClass('alert alert-danger');
            $('#msgBox').hide(10000);
        },
        error: function (jqXHR, textStatus, errorThrown) { 
            $('#msgBox').removeClass('alert alert-success');
            $('#msgBox').addClass('alert alert-danger');
            $('#msgBox').html(jqXHR.responseText);
        }
    })
    
    
});

$('#btn_save').click(function(e){
 
    e.preventDefault();

    var url = $('#url').val();
    if (url.length < 1){
        var url = '{{ domain_url }}rest/teachers/';
        var type = "POST";
    }else{
        var type = 'PUT';
    }

    var first_name = $('#first_name').val();
    var last_name = $('#last_name').val();
    var email = $('#email').val();
    var password = $('#password').val();
    var salary = $('#salary').val();
    
   $.ajax
    ({
        type: type,
        //the url where you want to sent the userName and password to
        url: url,
        //dataType: 'json',
        //async: false,
        //json object to sent to the authentication url
        //data: '{"first_name": "' + first_name + '", "last_name" : "' + last_name + '"}',
        //contentType: "application/json; charset=utf-8",
        data: {first_name: first_name, last_name: last_name, salary: salary, password: password, email: email},
        success: function (r) {
            $('#msgBox').html('Grabado Correctanente!');
            $('#msgBox').addClass('alert alert-success');
            $('#msgBox').removeClass('alert alert-danger');
            $('#msgBox').hide(10000);
            
            $('#first_name').val('');
            $('#last_name').val('');
            $('#email').val('');
            $('#salary').val('');
            $('#password').val('');
            $('#url').val('');
            
        },
        error: function (jqXHR, textStatus, errorThrown) { 
            $('#msgBox').removeClass('alert alert-success');
            $('#msgBox').addClass('alert alert-danger');
            $('#msgBox').html(jqXHR.responseText);
        }
    })
});

</script>
{% endblock %}