{% extends "base.html" %}
{% block content %}

<h2>Registrar Asistencias</h2>
<form>
	  <div class="form-group">
		<label for="exampleInputEmail21">Curso</label>
		<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Curso">
	  </div>
	  <div class="form-group">
		<label for="exampleInputEmail21">Profesor</label>
		<select name="profesor">
		</select>
	  </div>
	  <div class="form-group">
		<label for="exampleInputEmail21">Fecha</label>
		<input type="text" class="form-control" id="" placeholder="06/05/1987">
	  </div>
</form>
			
<table class="table table-bordered">
			<!-- On rows -->
<tr class="active">
	<td>Alumno</td>
	<td>Asistio</td>
	<td>Veces</td>
</tr>
<!-- On cells (`td` or `th`) -->
<tr>
  <td class="success">Juan Perez</td>
  <td class="warning"><input type="checkbox"checked /></td>
  <td class="danger">1</td>
  </tr>
<tr>
  <td class="success">Juan Perez</td>
  <td class="warning"><input type="checkbox" /></td>
  <td class="danger">1</td>
  </tr>
<tr>
  <td class="success">Juan Perez</td>
  <td class="warning"><input type="checkbox"checked /></td>
  <td class="danger">0</td>
  </tr>  
</table>
 <button type="submit" class="btn btn-default">Actualizar</button>
 
{% endblock %}