{% extends "base.html" %}
{% block content %}

<h2>Registrar Horario</h2>
<form method="POST">
	  <div class="form-group">
		<label for="exampleInputEmail21">Curso</label>
		<input type="hidden" class="form-control" value="{{ course.id }}">{{ course.name }}
	  </div>
	  <div class="form-group">
		<label for="exampleInputEmail21">Profesor</label>
			<select name="teacher">
		      {% for a in teachers %}		      
		        <option value="{{ a.email }}">{{ a.first_name }}</option>
		      {% endfor %}
		  </select>
	  </div>
	  <div class="form-group">
		<label for="exampleInputEmail21">Salon</label>
		<input type="text" class="form-control" name="classroom" placeholder="Salon">
	  </div>
	  <div class="form-group">
		<label for="exampleInputEmail21">Fecha inicio</label>
		<input type="text" data-provide="datepicker" class="form-control" name="datestart" placeholder="Fecha inicio">
	  </div>
	  <div class="form-group">
		<label for="exampleInputEmail21">Fecha fin</label>
		<input type="text" class="form-control" name="dateend" placeholder="Fecha fin">
	  </div>
	
	<table class="table table-bordered">
		    <tr>
		      <td class="success">Rango Horas</td>
		      <td class="warning">Lunes</td>
		      <td class="warning">Martes</td>
		      <td class="warning">Miercoes</td>
		      <td class="warning">Jueves</td>
		      <td class="warning">Viernes</td>
		    </tr>
		{% for h in hours %}
		    <tr>
		      <td class="success">{{ h }}</td>
		      <td class="success"><input type="checkbox" value="mon_{{ h }}" name="hours"></td>
		      <td class="success"><input type="checkbox" value="tue_{{ h }}" name="hours"></td>
		      <td class="success"><input type="checkbox" value="wed_{{ h }}" name="hours"></td>
		      <td class="success"><input type="checkbox" value="thu_{{ h }}" name="hours"></td>
		      <td class="success"><input type="checkbox" value="fri_{{ h }}" name="hours"></td>
		    </tr>
		{%  endfor %}
    </table>
	<input type="submit" value="Submit">
</form>

{% endblock %}

