{% extends "base.html" %}
{% block content %}

<h2>Registrar Syllabus</h2>

<form>
  <div class="form-group">
	<label for="exampleInputEmail21">Curso</label>
	<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Curso">
  </div>
  <div class="form-group">
	<label for="exampleInputEmail21">Profesor</label>
	<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Curso">
  </div>			  
  <div class="form-group">
	<label for="exampleInputEmail21">Pdf</label>
	<input type="file" class="form-control" id="ssss" placeholder="Eliga archivo">
  </div>			  
			 
</form>

<table class="table table-bordered">
			<!-- On rows -->
<tr class="active">
	<td>Profesor</td>
	<td>Curso</td>
	<td>Syllabus</td>
</tr>

<!-- On cells (`td` or `th`) -->
<tr>
  <td class="success">Juan Perez</td>
  <td class="warning">Historia</td>
  <td class="danger"><a href="xxxx">doc1.pdf</a></td>

</tr>
<tr>
  <td class="success">Edson soza</td>
  <td class="warning">Matematicas</td>
  <td class="danger"><a href="xxxx">doc2.pdf</a></td>

  </tr>
<tr>
  <td class="success">Ronald Martinez</td>
  <td class="warning">Ingles</td>
  <td class="danger"><a href="xxxx">doc3.pdf</a></td>

  </tr>  
</table>

 <button type="submit" class="btn btn-default">Actualizar</button>
 
{% endblock %}