{% extends "base.html" %}
{% block content %}

<h2>Registrar Cursos</h2>
<form method="post">
	  <div class="form-group">
		<label for="exampleInputEmail21">Código</label>
		<input type="text" class="form-control" id="" name="code" placeholder="Curso">
	  </div>
	  <div class="form-group">
		<label for="exampleInputEmail21">Nombre</label>
		<input type="text" class="form-control" id="" name="name" placeholder="Curso">
	  </div>

	  <input type="submit" class="btn btn-default"  value="Agregar Curso" />
</form>

<table class="table table-bordered">
    <tr>
      <td class="success">Código</td>
      <td class="success">Nombre</td>
      <td></td>
    </tr>
{% for h in items %}
    <tr>
      <td class="">{{ h.code }}</td>
      <td class="">{{ h.name }}</td>
    </tr>
{%  endfor %}
</table>

{% endblock %}